*.glb filter=lfs diff=lfs merge=lfs -text
static/3DModels/Wagenfeldlampe/wagenfeldlampe_24.glb filter=lfs diff=lfs merge=lfs -text
static/3DModels/Wagenfeldlampe/compressed.glb filter=lfs diff=lfs merge=lfs -text
