.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*

src/assets/3DModels/Wagenfeldlampe/wagenfeldlampe_24.obj
src/assets/3DModels/Wagenfeldlampe/wagenfeldlampe_24.gltf
src/assets/3DModels/Wagenfeldlampe/wagenfeldlampe_24.glb

