/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;

	font-family: 'Space Grotesk';

	/* For Firefox */
	scrollbar-color: #ff03ee #050505;
	scrollbar-width: thin;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: -6rem;
	min-height: 100%;

	font-family: 'Space Grotesk';
}

/* Scrollbar */
* {
	scrollbar-width: thin;
	scrollbar-color: #ff03ee;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #050505;
}

*::-webkit-scrollbar-thumb {
	background-color: #ff03ee;
	border-radius: 0px;
	border: 0px none #ffffff;
}
